<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include ('./partials/head') %>
<body>
		<!-- Header -->
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %>
		<% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		
		<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= data.nombreProducto %></h2> 
			<p class="product-detail-description">Publicado por: <a href="/users/profile/<%= data.usuarios.id %>"><%= data.usuarios.nombreUsuario %></a></p>			
			
			<form action="/product/edit" method="get">
				<input type="text" value="<%= data.id %>" name="id" hidden>
				<button class="action-button.delete" type="submit">Editar</button>
			</form>
			
			<form action="/product/delete" method="post">
				<input type="text" value="<%= data.id %>" name="id" hidden>
				<button class="action-button.delete" type="submit">Borrar</button>
			</form>
		
			<% if(locals.errors){  %> 
				<p class= “error”> <%= errors.message %> </p>
			<% } %>

		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= data.fotoProducto %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= data.descripcion %></p>
				</article>

				<!-- Comentarios -->
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% for( let i = 0; i < data.comentarios.length; i++ ) { %>
                            <article>
                                <img src="<%= data.comentarios[i].usuarios.fotoPerfil %>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/users/profile/<%= data.comentarios[i].usuarios.id %>"><%= data.comentarios[i].usuarios.nombreUsuario %></a> </strong>
                                     <%= data.comentarios[i].comentario %></p>
                                </div>
                            </article>
                        <% } %>
                    </section>
                    <!-- /Comentarios -->


					<form class="form" action="/product" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>