<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head.ejs') %>

<body>
		<!-- Header -->
		<% if (user != null) { %>
			<%- include('./partials/headerLogueado') %>
		<% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		
		<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/users/profile/edit" method="post">
				
				<input type="text" value="<%= data.id %>" name="id" hidden>
				
				<div>
					<label for="usuario" class="form-label">Editar usuario: </label>
					<input type="text" name="usuario" value="<%= data.nombreUsuario %>" class="form-input">
				</div>
				
				<div>
					<label for="email" class="form-label">Editar email: </label>
					<input type="email" name="email" value="<%=data.email%>" class="form-input">
				</div>
		
				<div>
					<label for="password" class="form-label">Nueva contraseña: </label>
					<input type="password" name="contrasena" value="" class="form-input">
				</div>
		
				<div>
					<label for="nacimiento" class="form-label">Editar fecha de nacimiento: </label>
					<input type="date" name="nacimiento" value="<%= data.fecha %>" class="form-input">
				</div>
		
				<div>
					<label for="dni" class="form-label">Editar número de documento: </label>
					<input type="number" name="dni" value="<%=data.dni %>" class="form-input">
				</div>
		
				<div>
					<label for="avatar" class="form-label">Editar foto de perfil: (podes usar un link de Internet)</label>
					<input type="text" name="avatar" value="<%= data.fotoPerfil %>" class="form-input">
				</div>
		
				<div>
					<button type="submit" name="enviar" class="form-input">Guardar cambios del perfil</button>
				</div>
		
		
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include ('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>