<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<% if (user != null) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
		
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
		<% if (data.length == 0) { %>
			<p class="product-detail-description">Lo sentimos no hay resultados para su busqueda</p>
		<% } else { %> 
			<% for( let i = 0; i < data.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/idProduct/<%= data[i].id %>"> 
							<figure class="product-box_image">
								<img src="<%= data[i].fotoProducto %>" alt="productos ET">
							</figure>
							<article class="product-box_data">
								<h2><%= data[i].nombreProducto %></h2>
								<p>Publicado por: <%= data[i].usuarios.nombreUsuario %></p>
								<p><%= data[i].descripcion %></p>
								<p>Comentarios: <%= data[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
	
		<% } %>
		 
	</div>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>